<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxinput.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>

@model IEnumerable<jQWidgets.AspNet.Core.Models.SalesEmployee>

@{
    ViewData["Title"] = "ASP .NET MVC DropDownList Example";
}
@{
    var employee = Model.FirstOrDefault();
}
<jqx-drop-down-list for="@employee.Name" value-for="@employee.ID" selected-index="0" edit="@Url.Action("EditItem","TagHelpers")" create="@Url.Action("AddItem","TagHelpers")" delete="@Url.Action("DeleteItem","TagHelpers")" instance="listInstance()" theme="@ViewData["Theme"]" width="250" height="30" source="Model"></jqx-drop-down-list>
<div style="margin-top:30px;">
    <label>Add/Delete/Update</label>
    <table>
        <tr>
            <td style="padding:10px;" align="right">Name:</td>
            <td><jqx-input value="Peter Green" height="25" id="name"></jqx-input></td>
        </tr>
    </table>
</div>
<jqx-button style="margin-top:20px;" theme="@ViewData["Theme"]" on-click="addItem()">Add Item</jqx-button>
<jqx-button style="margin-top:20px;" theme="@ViewData["Theme"]" on-click="removeItem()">Delete Item</jqx-button>
<jqx-button style="margin-top:20px;" theme="@ViewData["Theme"]" on-click="updateItem()">Update Item</jqx-button>
<script>
    var list = {};
    function addItem() {
       list.addItem($("#name").val());
    }

    function removeItem() {
        var item = list.getSelectedItem();
        if (item)
        {
            list.removeItem(item);
        }
    }

    function updateItem() {
        var item = list.getSelectedItem();
        if (item)
        {
            list.updateItem({value: item.value, label: $("#name").val() }, item);
        }
    }

    function listInstance(instance) {
        list = instance;
    }
</script>